@(username: String, boardSize: Integer, opponent: String)

@main(username) {
    
    <div class="page-header">
        <h1>Go Player</h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
	
	<div id="dataDiv" class="block-message info">
        <p>
            <span id="waiting">Waiting for another player...</span>
        </p>
		<div class="wrap">
			<div class="left_col" id="blackData"><br/>&nbsp;</div>
			<div class="right_col" id="whiteData"><br/>&nbsp;</div>
		</div>
		<p>
			<span id="messageDisplay">&nbsp;</span>
		</p>
    </div>
	
	<div id="board" class="block-message info" style="width:@(boardSize*24)px">
		<table class="board">
		@for( a <- 1 to boardSize){
			<tr>
			@for( b <- 1 to boardSize){
				<td id="b@(b)_@a"><img id="@(b)_@a" class="empty" src="@routes.Assets.at("images/empty.png")"/></td>
			}
			</tr>
		}
		</table>
	</div>
    
    <div id="onChat" class="block-message info">
		<button id="pass" class="btn large" type="button">Pass</button>
		<button id="apply" class="btn large" type="button">Apply</button>	

    	<!--<div class="span10" id="main">
     		<div id="messages"></div>          
   		</div>-->        
    </div>
    
    <script type="text/javascript" charset="utf-8" src="@routes.Application.chatRoomJs(username, boardSize, opponent)"></script>
    
}